<div class="card flex justify-content-center">
    <p-button label="Add products" icon="pi pi-plus" (onClick)="openPopup()"></p-button>
  </div>
  
  
  <app-filter2 [visible]="visible" (childevent)="addOutStudents($event)"></app-filter2>
  <router-outlet></router-outlet>
  
  <p-table [value]="Receivedproducts" *ngIf="Receivedproducts.length>0">
    <ng-template pTemplate="header">
      <tr>
        
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="index">
      <tr>
       
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button pButton type="button" icon="pi pi-trash" (click)="deleteProduct(product)"></button>
      </td>
    
      </tr>
    </ng-template>
  </p-table>
  