
<div class="card flex justify-content-center">
  <p-button label="Add Orders" icon="pi pi-plus" (onClick)="openPopup()"></p-button>
</div>


<app-options2 [visible]="visible" (childevent)="addOrders($event)"></app-options2>
<router-outlet></router-outlet>

<p-table [value]="receivedOrders" *ngIf="receivedOrders.length>0" sortMode="multiple">
  <ng-template pTemplate="header">
    <tr>
      
      <th>Code</th>
      <th>ItemName</th>
      <th>Quantity</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order let-i="index">
    <tr>
     
      <td>{{ order.code }}</td>
      <td>{{ order.itemname }}</td>
      <td>{{ order.quantity }}</td>
      <td>
        <button pButton type="button" icon="pi pi-trash" (click)="deleteOrder(order)"></button>
    </td>
  
    </tr>
  </ng-template>
</p-table>