<p-dialog [(visible)]="visible">
    <ng-template pTemplate="headless">
      <div>
        <div class="card">
            <p-table [value]="products" [(selection)]="selectedProducts" dataKey="code"  [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="min-width:200px">Code</th>
                        <th style="min-width:200px">Name</th>
                        <th style="min-width:200px">Category</th>
                        <th style="min-width:200px">Quantity</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product" ></p-tableCheckbox>
                        </td>
                        <td>{{product.code}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.quantity}}</td>
                    </tr>
                </ng-template>
<br>
                
                <ng-template pTemplate="footer">
          
                    <div style="display: flex; justify-content: space-between;">
                        <div class="card" style="flex: 1;">
                            <p-button label="Save" (click)="addproducts()" [text]="false" class="w-full"></p-button>
                        </div>
                    
                        <div style="margin-left: auto; margin-left: 10px;">
                            <p-button label="Cancel" (click)="cancelproducts()" [text]="false" class="w-full"></p-button>
                        </div>
                    </div>
               </ng-template>
            </p-table>
      
      </div>
      
  </div>
    </ng-template>
  </p-dialog>
